# Python Einf√ºhrung
## Tag 1
Das ist eine Markdown-Zeile *kursiv* **fett** ***fett-Kursiv***

- Punkt 1
- Punkt 2 
- Punkt 3

In [75]:
print ("Hello World")

Hello World

In [76]:
print ("something")
# ein Kommentar

something

In [77]:
name = "Lovelace"

In [78]:
print (name)

Lovelace

In [79]:
age = 73

In [80]:
age

73

In [81]:
age
name

'Lovelace'

In [82]:
size = 1.754

In [83]:
print (size)

1.754

In [84]:
knows_math = True 
print(knows_math)
likes_slacking = False 
print(likes_slacking)

True
False

In [85]:
type(name)

str

In [86]:
type(age)

int

In [87]:
type(size)

float

In [88]:
5 + 5

10

In [89]:
age * 100

7300

In [90]:
name + name

'LovelaceLovelace'

In [91]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [92]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [ ]:
size / age

In [ ]:
name + str(age)

## Funktionen und Methoden nutzen

In [ ]:
len(name)

In [ ]:
len("Bielefeld")

In [ ]:
name.upper()

In [ ]:
name

In [ ]:
name_upper = name.upper()

In [ ]:
print(name)
print(name_upper)

In [ ]:
name.count()

In [ ]:
name.count("e")

In [ ]:
name.replace("lace", " is everywhere")

## Listen und Dictionaries

In [ ]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [ ]:
type(names)

In [ ]:
names[2]

In [ ]:
names[1]

In [ ]:
names[-1]

names

In [93]:
names[0:2]

['Lovelace', 'Darwin']

In [94]:
names[:2]

['Lovelace', 'Darwin']

In [95]:
names[2:]

['Curie', 'Hawking']

In [96]:
authors

NameError: name 'authors' is not defined

In [ ]:
authors_and_birth_years = {"Lovelace": 1882, 
                          "Darwin": 1809, 
                      "Hawking": [1942, 2018]}

In [ ]:
type(authors_and_birth_years)

In [ ]:
authors_and_birth_years["Darwin"]

In [ ]:
authors_and_birth_years["Hawking"]

In [ ]:
authors_and_birth_years["Hawking"][1]

In [ ]:
names

In [97]:
for name in names:
    print ("What did " + name + " do?")
    
    print(name + " did awesome stuff")

What did Lovelace do?
Lovelace did awesome stuff
What did Darwin do?
Darwin did awesome stuff
What did Curie do?
Curie did awesome stuff
What did Hawking do?
Hawking did awesome stuff

In [98]:
for name in names:
    print (name)
    print ("-----------------")

Lovelace
-----------------
Darwin
-----------------
Curie
-----------------
Hawking
-----------------

In [99]:
for name in names:
    print (name)
print ("-------------")

Lovelace
Darwin
Curie
Hawking
-------------

## Bedingte Anweisungen (Conditionals)

In [103]:
temp = 10
if temp > 15: 
    print ("It's warm")

In [102]:
temp = 10
if temp > 15: 
    print ("It's warm")
else: 
    print ("It's cold")

It's cold

In [104]:
temp = 15
if temp >= 25:
    print ("It's hot")
elif temp >= 15:
    print("It's warm")
else:
    print ("It's cold")

It's warm

In [109]:
temps = [0, 10, 16, 22, 30]

In [116]:
for temp in temps:
    if temp >= 25:
        print ("It's hot")
    elif temp >= 15:
        print("It's warm")
    else:
        print ("It's cold")

It's cold
It's cold
It's warm
It's warm
It's hot